@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root{
  --BrightOrange: hsl(31, 77%, 52%);
  --DarkCyan: hsl(184, 100%, 22%);
  --VeryDarkCyan: hsl(179, 100%, 13%);
 
  --White: hsla(0, 0%, 100%, 0.75);
  --LiteGray: hsl(0, 0%, 95%);

  --fw-regular: 400;
  --fw-bold: 700;

  --ff-accent: 'Big Shoulders Display', cursive;
  --ff-base: 'Lexend Deca', sans-serif;

  --fs-base: .9rem;
}

/* Reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  min-height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Base elements */

body{
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: var(--fs-base);
  color: var(--LiteGray);
  min-height: 100vh;
  background-color: var(--White);

  display: grid;
  justify-items: center;
  align-items: center;
}

h2{
  font-family: var(--ff-accent);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  font-size: 2rem;
}

article{
  display: grid;
  gap: 1rem;
  padding: 2rem;
  max-width: 20rem;
}

button{
  border: .2rem solid transparent;
  border-radius: 3rem;
  padding: .5rem;
  width: 8rem;
  background-color: var(--White);
}

.content {
  display: grid;
  overflow: hidden;
  border-radius: .5rem;
  border:none;
  margin-block: 3rem;
}

/* Adjust grid template to 3 column layout once viewport large enough */
@media(min-width: 61rem){
  .content{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.sedans {
  background-color: var(--BrightOrange);
}

button[data-car-type="sedan"]{
  color: var(--BrightOrange);
}

.SUV{
  background-color: var(--DarkCyan);
}

button[data-car-type="suv"]{
  color: var(--DarkCyan);
}

.luxury{
  background-color: var(--VeryDarkCyan);
}

button[data-car-type="luxury"]{
  color: var(--VeryDarkCyan);
}

button:is(:hover, :focus){
  background-color: transparent;
  color: var(--White);
  border: solid var(--White) .2rem;
}